.title {
    margin: auto;
    text-align: center;
    padding-bottom: 30px;
}

div.name{
    width: fit-content;
    margin: auto;
}

ul#targetNameList{
    padding-right: 30px;
    width: fit-content;
    margin: auto;
}

div.serverIp{
    width: fit-content;
    margin: auto;
    padding-top: 50px;
}